.checkbox-wrapper-8 .tgl {
  display: none;
}

.checkbox-wrapper-8 .tgl,
.checkbox-wrapper-8 .tgl:after,
.checkbox-wrapper-8 .tgl:before,
.checkbox-wrapper-8 .tgl *,
.checkbox-wrapper-8 .tgl *:after,
.checkbox-wrapper-8 .tgl *:before,
.checkbox-wrapper-8 .tgl + .tgl-btn {
  box-sizing: border-box;
}

.checkbox-wrapper-8 .tgl::-moz-selection,
.checkbox-wrapper-8 .tgl:after::-moz-selection,
.checkbox-wrapper-8 .tgl:before::-moz-selection,
.checkbox-wrapper-8 .tgl *::-moz-selection,
.checkbox-wrapper-8 .tgl *:after::-moz-selection,
.checkbox-wrapper-8 .tgl *:before::-moz-selection,
.checkbox-wrapper-8 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-8 .tgl::selection,
.checkbox-wrapper-8 .tgl:after::selection,
.checkbox-wrapper-8 .tgl:before::selection,
.checkbox-wrapper-8 .tgl *::selection,
.checkbox-wrapper-8 .tgl *:after::selection,
.checkbox-wrapper-8 .tgl *:before::selection,
.checkbox-wrapper-8 .tgl + .tgl-btn::selection {
  background: none;
}

.checkbox-wrapper-8 .tgl + .tgl-btn {
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
}

.checkbox-wrapper-8 .tgl + .tgl-btn img {
  height: 35px;
}

.checkbox-wrapper-8 .tgl + .tgl-btn:not(:first-child) {
  background-color: white;
  padding: 5px 10px;
}

.checkbox-wrapper-8 .tgl + .tgl-btn:focus {
  outline: none;
}

/* .checkbox-wrapper-8 .tgl + .tgl-btn:hover {
  background-color: rgba(61, 197, 27, 0.1);
} */

.toggle-image {
  /* width: 70%; */
  transition: all 0.5s ease;
}

.checkbox-wrapper-8 .tgl:checked + .tgl-btn .toggle-image-Map {
  background-color: green;
}

.checkbox-wrapper-8 .tgl:checked + .tgl-btn .toggle-image-Grid {
  background-color: green;
}
