
body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    /* margin: 100px auto 0; */
    font-size: 18px;
}

.modal{
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: sticky;
}

.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: sticky;
}

/* .overlay {
    background: rgba(49,49,49,0.8);
} */
.modal-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    top: 18%;
    left: 20%;
    transform: translate(-50%, -50%);
    line-height: 2;
    background: #393535;
    padding: 14px 28px;
    border-radius: 10px;
    max-width: 300px;
    min-width: 250px;
    z-index: 1000;
}
.Xicon{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.closingX {
    cursor: pointer;
    color: white;
    font-weight: 300;
    font-size: 20px;
    padding: 0 !important;
    margin: 0 !important;
}
.loginIcon {
    width: 32px;
    height: 30px;
}
.loginLogoutWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.loginLogoutIcon{
    width: 16px;
    height: 20px;
}
.profileSmallCircle{
    width: 20px;
    height: 20px;
}
.createEvent{
    width: 18px;
    height: 18px;
}
.settings{
    width: 18px;
    height: 18px;
}
.loginLogout {
    cursor: pointer;
    color: white;
    font-weight: 300;
    font-size: 20px;
    padding: 0 !important;
    margin: 0 !important;
}
.profileCircleWrapper{
    display: flex;
    gap: 10px;
}
.createEventWrapper{
    display: flex;
    gap: 10px;
}
.settingsWrapper{
    display: flex;
    gap: 10px;
}
.loginWrapper{
    display: flex;
    gap: 10px;
}