.evntImage {
  max-width: 400px;
}
.evntShowWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /* margin: 0; */
}
.staticRender {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  width: 60%;
  max-width: 500px;
}

.imageImage {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 500px;
  /* max-height: 400px; */
}
