.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container > * {
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: calc(100% / 5 - 20px);
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-picture {
  position: relative;
  height: 60%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-body {
  padding: 20px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  height: 40%;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  margin-top: 10px;
}

.btn-primary {
  margin-top: auto;
}

.like-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.location {
  display: flex;
  align-items: center;
}

.location p {
  margin-left: 8px;
}

.location-text {
  margin-top: 10px;
  padding-top: 10px;
}

.Rating {
  display: flex;
  align-items: center;
}

.Rating p {
  margin: 5px;
}

.rating-text {
  margin-right: 10px;
}

.rating-amount {
  color: rgb(138, 136, 136);
}

/* Media Queries */

@media (max-width: 1600px) {
  /* Desktop */
  .card {
    width: calc(100% / 5 - 20px);
  }
  .card-picture {
    height: 60%;
  }
  .card-body {
    height: 40%;
    padding: 10px;
  }
  .card-body h5 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  /* Tablet */
  .card {
    width: calc(100% / 3 - 20px);
  }
  .like-button {
    margin-left: 10px;
  }
  .card-picture {
    height: 43%;
  }
  .card-body {
    height: 57%;
    padding: 10px;
  }
  .card {
    height: 400px;
  }
  .card-body h5 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  /* Mobile */
  .card {
    width: calc(100% / 2 - 20px);
    height: 380px;
  }
  .like-button {
    margin-left: 0px;
  }
}
