.dynoHomeContainer {
  margin: 20px 20px 0px 10px;
  display: none;
}
.largeContainer {
  display: block;
  margin: 20px 20px 0px 10px;
}

.homeTitle {
  margin: 0px 0px 0px 15px;
}

@media screen and (max-width: 950px) {
  .dynoHomeContainer {
    display: block;
    margin: 0px 0px 0px 0px !important;
  }
  .largeContainer {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .dynoHomeContainer {
    margin: 0px 0px 0px 0px !important;
  }
}
