/* .evntsIndexWrapper{
    display: flex;
    flex-wrap: wrap;
} */
.eventsImage{
    max-width: 200px;
}

.evntsCard {
    /* width: calc(100% / 5 - 20px); */
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.evntcard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .evntcard {
    /* width: calc(100% / 5 - 20px); */
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  
  .evntcard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .evntcard-picture {
    position: relative;
    height: 60%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }
  
  .evntcard-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .evntcard-body {
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    height: 40%;
  
  }
  
  .evntcard-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .evntcard-text {
    margin-top: 10px;
  }