.reviewNav {
  display: none;
}

/* NEW EVENT FORM */
.new-event-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.create-new-event-title {
  text-align: center;
  margin: 0;
}
.input-title {
  margin: 0;
  color: #000;
}
.create-new-event-input {
  width: 80%;
  margin: auto;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 45px;
}
.create-new-event-textarea {
  width: 80%;
  margin: auto;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 45px;
  padding: 3%;
}
.input-submit-button {
  border-radius: 45px;
  width: 25%;
  height: 13%;
  margin: 3vh auto;
  padding: 4%;
  background-color: #ffcc66;
  font-size: 2vh;
  font-weight: bold;
}
.input-submit-button:hover {
  background-color: #f2a916;
}
.back-button-container {
  display: flex;
}
.back-button-link {
  display: flex;
  text-decoration: none;
  align-items: center;
}
.back-link {
  height: 40px;
  width: 40px;
}

.cursor-pointer {
  cursor: pointer;
}
input[type="file"] {
  text-decoration: none;
  /* border: none; */
}

@media (max-width: 480px) {
  /* Mobile */
  .reviewNav {
    display: flex;
  }
  .backBtnNav {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    gap: 2px;
  }
  .backNavP {
    font-size: 20px;
  }
}
