.buttons {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .buttons > * {
    flex: 0 0 auto;
  }
  
  .buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50px;
    background-color: white;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
    height: 35px;
    color: black;
  }
  
  .buttons button:last-child {
    margin-right: 0;
  }
  
  .buttons button img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  .buttons button:not(:first-child) {
    background-color: white;
    padding: 5px 10px;
  }
  
  .buttons button:focus {
    outline: none;
  }
  
  .buttons button:hover {
    background-color: rgba(61, 197, 27, 0.1);
  }
  
  
  
  
  