.nav {
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: 100;
  /* border-top: 5px solid white; */
  border: 5px solid white;
}

.navBarWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white; /* Set a background color for the navbar */
  z-index: 100;
  /* margin: 0px 10px; */
}

.navBarLogo {
  width: 50px;
}

.navLangGlobe {
  width: 40px;
  padding-top: 3px;
}

.loginModal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.searchBarWrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navBarSearch {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 0px 10px;
  border: 1px solid black;
  border-radius: 50px;
  gap: 15px;
}

.searchIconLink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  padding: 3px 0px 0px 10px;
}

@media (max-width: 480px) {
  .searchBarWrapper {
    display: none;
  }
}
