.expCard-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
}

.expCard {
  width: calc(100% / 5 - 20px);
  margin: 10px;
  overflow: hidden;
}

.expCard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.expCard-heart {
  position: relative;
  overflow: hidden;
}

.expCard-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 10px 10px 10px;
  background-color: #fff;
}

.expCard-title {
  margin-top: 0px;
  margin-bottom: -1px;
  font-size: 18px;
  letter-spacing: 1px;
}

.expLocation-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 0;
  margin-left: -5px;
}

.expLocationIcon {
  width: 20px;
  height: 20px;
}
.expLocationText {
  letter-spacing: 0.3px;
  margin: 5px;
}
.nameRatingWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.expCardType {
  margin-top: 20px;
}
.ratingWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ratingText {
  /* margin-top: 0px; */
  font-weight: 600;
}

.reviewNumber {
  font-size: 14px;
  color: #717171;
}

.like-button {
  position: absolute;
  top: 3px;
  right: 15px;
  z-index: 10;
}

/* Media Queries */

@media (max-width: 1600px) {
  /* Desktop */
  .expCard {
    width: calc(100% / 3 - 20px);
  }
  .expCard-picture {
    height: 60%;
  }
  .expCard-body {
    height: 40%;
    padding: 10px;
  }
  .expCard-body p {
    margin-top: 0;
  }
}

@media (max-width: 950px) {
  /* Tablet */
  .expCard {
    width: calc(100% / 2 - 20px);
  }
  .like-button {
    margin-left: 10px;
  }
}

@media (max-width: 780px) {
  /* Mobile */
  .expCard {
    width: calc(100% / 2 - 20px);
    height: auto;
  }
  .like-button {
    margin-left: 12px;
    margin-top: 10px;
  }
}
@media (max-width: 570px) {
  /* Mobile */
  .expCard {
    width: 98%;
    height: auto;
  }
  .like-button {
    margin-left: 12px;
    margin-top: 10px;
  }
  .expCard p {
    font-size: 0.8rem;
  }
  .expLocationIcon {
    width: 15px;
    height: 15px;
  }
  .ratingWrapper {
    gap: 18px;
  }
  .expLocation-wrapper {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: 5px;
    margin-left: -5px;
  }
}
