.home-map {
  flex: 1 1 60%;
  height: 370px;
}

.home-map-img {
  /* max-height: 616px; */
  border-radius: 10px;
  object-fit: cover;
}

.home-map-container {
  display: flex;
  flex-wrap: wrap;
}

/* TEXT STYLING */

.mapResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 2rem;
}

.mapLoadMore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.home-card-container {
  display: flex;
  /* width: 100%; */
  flex: 1 1 0%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  background-color: #f5f5f5;
  border-radius: 20px;
  border-top: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 7;
}

.home-card {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.home-card-picture img {
  border-radius: 10px;
}

.home-card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.home-card-body {
  flex: 1;
  padding: 10px;
}

.home-location {
  display: flex;
  align-items: center;
}

.home-location p {
  margin-left: 5px;
}

.mapLocationRating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mapLocation-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;
  margin-top: 0;
  margin-left: -5px;
}

.mapLocationIcon {
  width: 20px;
  height: 20px;
}
.mapLocationText {
  letter-spacing: 0.3px;
  margin: 5px;
}
.mapRatingWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.mapRatingText {
  /* margin-top: 0px; */
  font-weight: 600;
}

@media (max-width: 920px) {
  .home-map-container {
    flex-direction: column;
  }

  .home-map-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }

  .home-map {
    flex: 1 1 100%;
    order: 1;
  }

  .home-card-container {
    flex: 1 1 100%;
    order: 2;
    padding-right: 0;
  }
}
