.footer {
  background-color: #000;
  color: #eee;
  position: fixed;
  width: 100%;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  border-radius: 10px 0px 0 10px;
  transition: bottom 0.3s, transform 0.3s;
}

.footer .container {
  max-width: 1240px;
  margin: auto;
  text-align: center;
}

.footer hr {
  color: wheat;
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer li {
  padding: 0.5rem;
  list-style-type: none;
}

.footer li a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid white;
}

.footer li a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--secondary-color);
}

.bottom {
  text-align: center;
  padding-top: 3rem;
}

.line {
  margin-bottom: 1rem;
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-header {
  display: flex;
  justify-content: flex-start;
}

.footer.hidden {
  bottom: -500px;
  transform: translateY(100%);
}

.footer-content {
  position: relative;
}

.footer-tab {
  position: absolute;
  right: 0;
  top: -30px;
  background-color: #000;
  color: #eee;
  padding: 10px 10px 1px 10px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.footer-tab:hover {
  background-color: #333;
}

.footer-tab.hidden {
  display: none;
}

.footer.collapsed {
  transform: translateY(100%);
}
