.profileBody {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picCont {
  position: relative;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.profileImg {
  left: 35%;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviewsCont {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  gap: 45px;
}

.statsBox {
  width: 100px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
}

.reviewBtn {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.eventsCont {
  height: 5vh;
}

.eventBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.profileBtn {
  border-radius: 30px;
  background-color: var(--soft-yellow);
  padding: 12px;
  margin: 0px;
  border: none;
  cursor: pointer;
}

.profileBtnEdit {
  position: absolute;
  left: 110%;
  border-radius: 30px;
  background-color: var(--soft-yellow);
  padding: 12px;
  margin: 0px;
  border: none;
  cursor: pointer;
}

.profileP {
  font-size: 1.2rem;
  margin: 0px;
}

.statsP {
  font-weight: 600;
  margin-bottom: 25px;
}

.numbersP {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 10px;
}

.eventsP {
  position: relative;
  left: -45%;
  font-weight: 700;
}

.createEventWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.createEventWrapper {
  display: flex;
  align-items: center;
  /* gap: 8px; */
  /* margin-top: 0; */
  /* margin-left: -5px; */
}

.eventsMapWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.eventsMap {
  background-color: var(--mint-green);
  max-width: 550px;
  width: 80vw;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 5s, box-shadow 0.3s;
}

.eventsBtnEdit {
  position: relative;
  left: 85%;
  top: 50%;
  border-radius: 30px;
  background-color: var(--black-col);
  color: var(--off-white);
  padding: 5px 15px 5px 15px;
  margin: 0px;
  border: none;
  cursor: pointer;
  z-index: 7;
  transition: background-color 0.3s, color 0.3s;
}

.eventsBtnEdit:hover {
  background-color: var(--soft-yellow);
  color: var(--black-col);
}

.editBtnP {
  font-size: 0.8rem;
  padding: 0px;
  margin: 0;
}

.eventNameP {
  margin: 0;
  font-size: 1.1rem;
}

.eventVenueP {
  margin: 8px 0 8px 0;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.eventLocation-wrapper {
  display: flex;
  align-items: center;
  gap: 1px;
}

.eventIcon {
  width: 20px;
  height: 20px;
}

.eventAddress {
  font-size: 0.8rem;
  letter-spacing: 0.3px;
  margin: 5px;
}

.moreDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.moreDetailsHref {
  font-weight: 700;
  font-size: 0.8rem;
  justify-self: center;
  align-self: center;
  color: var(--black-col);
  margin: 10px 0 10px 0;
}

.moreDetailsHref:hover {
  color: var(--text-dark);
}

@media (max-width: 370px) {
  .eventsBtnEdit {
    left: 75%;
    top: 50%;
    /* transform: translate(-50%, -50%); */
  }
}
