.eventShowWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  width: 95%;
  overflow: hidden;
  transition: transform 5s, box-shadow 0.3s;
}

.hrStyle {
  border: 0.5px solid var(--black-col);
  height: 1px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.heartLikeShow {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 10px 0 10px;
}

.eventImage {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.showLikeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  cursor: pointer;
}

.eventInfo {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  text-align: left;
  width: 95%;
  max-width: 700px;
}

.eventShowName {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.locationTypeWrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}

.locationWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.typeWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.eventTypeIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.innerP {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.eventDescriptionP {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 10px 0 0 0;
  padding: 0;
}

.imageContainer {
  position: relative;
  display: inline-block;
  width: 95%;
  max-width: 700px;
}

.showDescription {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 700px;
  margin: 0px 0 0 0;
  padding: 0;
  text-align: left;
}
.showDescription h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 10px 0 0 0;
  padding: 0;
}

.eventShowDescription {
  font-size: 0.9rem;
  width: 95%;
}

.showBtnWebsite {
  border-radius: 30px;
  background-color: var(--soft-yellow);
  color: var(--black-col);
  padding: 12px;
  margin: 0px;
  border: none;
  cursor: pointer;
}

.showBtnP {
  font-size: 1rem;
  font-weight: 700;
  margin: 0px;
  padding: 0px 20px;
}

.buttonFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
/*  HOSTED AT SECTION IS STATIC */

.hostedAtWrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 700px;
  gap: 10px;
}

.eventVenueName {
  font-size: 2rem;
  font-weight: 600;
  margin: 20px 0 0 20px;
  padding: 0;
}

.showLocation-wrapper {
  display: flex;
  align-items: center;
  margin: 10px 0 0 30px;
  gap: 10px;
}

.eventAddress {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.hostedCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.accessibilityScore {
  background-image: linear-gradient(180deg, #7ec0db, #b5daee);
  border-radius: 30px;
  width: 200px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
}

.accessibilityP {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.accessibilityNumber {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* AMENITIES SECTION */
.amenitiesIconWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.amenitiesInner {
  display: flex;
  align-items: center;
}

.amenIconSizing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.amenitiesInner img {
  margin-right: 30px;
}

.amenitiesInner p {
  margin: 15px;
  padding: 0;
}

.reviewsWrapper {
  text-align: left;
}

.reviewsAmount {
  display: flex;
  align-items: center;
  gap: 20px;
}

.reviewsInner {
  margin-left: 70px;
}

.reviewsInner p {
  margin: 13px 0 40px 0;
  padding: 0;
}

.viewAll {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.viewAllP {
  font-weight: 700;
  font-size: 0.8rem;
  text-decoration: underline;
  justify-self: center;
  align-self: center;
  color: var(--black-col);
  margin: 10px 0 10px 0;
}

.createReviewBtnP {
  font-size: 1rem;
  font-weight: 700;
  margin: 0px;
  padding: 0px 20px;
}

.createReviewBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin: 40px 0 30px 0px;
}

.recCardMap {
  display: flex;
  justify-content: space-evenly;
}

/* SUGGESTIONS SECTION */

@media (max-width: 450px) {
  .eventShowWrapper {
    margin-top: 0px;
    padding: 20px;
  }
  .typeWrapper {
    margin-bottom: 20px;
  }
  .eventShowDescription {
    margin: 20px 0 30px 0;
  }
  .showBtnWebsite {
    margin: 0px 0 10px 0;
  }
  .locationTypeWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    gap: 1px;
  }
  .recCardMap {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .reviewsInner {
    margin-left: 0px;
  }
  .createReviewBtn {
    margin: 20px 0 20px 0;
  }
}
